body{
	background: url(../img/bg1.jpg) no-repeat fixed;
	background-size: 100% 100%;
}

.itemHeight{
	height: 370px;
	overflow: hidden;
}
.title{
	height: 20px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: center;
}
.active{
	background-color: #2A6496;
}
.work_item1{
	border:1px solid #ccc;
	box-shadow: 0 2px 15px 3px rgba(120,112,115,1);
	margin-top:1em;
	border-radius:10px;
	padding-top:1em;
	padding-bottom:1em;
}
.text_box p{
	margin-bottom:5px;
}
.text_box span{
	font-weight:bold;
}
.work_item1 img{
	width:150px;
	height:160px;
	border:2px solid #333;
	display:inline-block;
}
.work_item1 img:hover{
	border:2px solid orange;
}
.work_item1{
	transition:1s;
}
.work_item1:hover{
	transform: scale(1.2,1.2);
	background:#2E6DA4;
	color:#fff;
	z-index:1000;
}