/*默认样式重置*/
body,h1,h2,h3,h4,h5,h6,p{
	margin: 0;
}
ul,ol{
	margin: 0;
	padding: 0;
	list-style: none;
}
body{
	overflow: hidden;
}
a{
	text-decoration: none;
	color: #8f8f8f;
	cursor: pointer;
}
a:hover{
	color: black;
}
img{
	vertical-align: top;
	border: none;
}
.clear:after{
	content: '';
	display: block;
	clear: both;
}
/*加载动画*/
#preloaderWarp{
	height: 1000px;
	width: 100%;
	position: absolute;
	left: 0;
	top: 0;
	background-color: white;
	z-index: 2000;
}
#preloader{
	width: 245px;
    height: 300px;
    text-align: center;
    margin: 200px auto 0;
}
#loadingBar{
	width: 245px;
    height: 245px;
    text-align: center;
    color: #fff;
    background: url(../img/preload_bg.gif) no-repeat 0 245px;
}
#loadingText{
    width: 245px;
    height: 55px;
    text-align: center;
    font-size: 30px;
}
/*顶部导航*/
#top{
	height: 52px;
	width: 100%;
	position: fixed;
	z-index: 1000;
	left: 0;
	top: 0;
}
#header{
	height: 52px;
	width: 950px;
	min-width: 950px;
	margin: 0 auto;
	background-color: rgba(255,255,255,0.75);
	font-family:  Arial, sans-serif;
    font-size: 9px;
    position: relative;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
#nav{
	height: 52px;
	float: left;
}
#nav li{
	float: left;
	height:20px ;
	line-height: 20px;
	margin-top: 24px;
	padding: 0 30px 0 20px;
	text-transform: uppercase;
}
#nav li a{
	padding-bottom: 8px;
	height: 20px;
	float: left;
}
#nav li a.active{
	background: url(../img/bg_nav_active_black.png) no-repeat center 20px;
	color: black;
}
#meta{
	position: absolute;
    right: 5px;
    z-index: 101;
    padding: 5px 10px 0 0;
    text-align: right;
    height: 20px;
    font-size: 11px;
}
#ok_contact{
	position: absolute;
    right: 5px;
    z-index: 100;
    padding: 25px 0 0px 20px;
    height: 25px;
}
#ok_contact li{
	float: left;
	margin-right: 10px;
	color: #8f8f8f;
}
/*共用部分*/
.home,.projekte,.design,.technik,.lab,.about,.jobs{
	height:1000px;
	width: 100%;
	position: relative;
	overflow: hidden;
}
.sprite{
	position: absolute;
    width: 100%;
    height: 1000px;
    z-index: 200;
    top: 0;
    padding: 0;
}
.screen {
    position: absolute;
    width: 100%;
    height: 1000px;
    z-index: 201;
    top: 0;
    padding: 0;
}
.screen p{
    width: 275px;
    font-size: 13px;
    font-family: "Arial";
}
h1{
	font-family: Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 57px;
    line-height: 43px;
    text-transform: uppercase;
    padding: 0 0 10px 0;
}
h2{
	font-family: Times, serif;
    font-weight: normal;
    font-style: italic;
    font-size: 24px;
    padding: 6px 0 18px 0;
    line-height: 24px;
}
p {
    margin: 0 0 11px 0;
}
/*home*/
.home{
	background: url(../img/home_bg.jpg)  no-repeat fixed center -100px;
	color: #363636;
}
.home .sprite{
	background: url(../img/home_sprite_frei.png)  no-repeat fixed center 43px;
}
.home .screen{
	background: url(../img/home_frei.png) center 117px no-repeat;
}
.home .content{
	margin-top: 14%;
    margin-left: 20%;
    color: #363636;
    width: 280px;
}
.home .content h1{
	font-size: 92px;
    line-height: 72px;
    background: url(../img/bg_content_border.png) no-repeat 0 0;
    padding-top: 35px;
}
/*projekte*/
.projekte {
    background: #dbdfde url(../img/projects_bg.jpg) 50% 0 no-repeat fixed;
    color: #666;
}
.projekte .screen{
	position: relative;
}
.projekte .content {
	width: 100%;
    height: 2000px;
    position: absolute;
    /*margin-left: 0;
    margin-top: 0;
    padding-top: 0;*/
    top: 70px;
}
.projekte .content .contentHead{
	width: 900px;
	margin: 0 auto;
}
.projekte .content h1{
	background: url(../img/bg_content_border.png) no-repeat 0 0;
    padding-top: 35px;
    width: 275px;
    height: 45px;
}
.projekte .contentBottomWarp{
	width: 100%;
	height: 1000px;
	position: relative;
}
.contentBottomWarp .contentBottom{
	width: 900px;
	height: 1000px;
	position: relative;
	overflow: hidden;
	margin: 0 auto;
}
.contentBottomWarp .prev,.contentBottomWarp .next{
	position: absolute;
    top: 300px;
    z-index: 250;
    width: 110px;
    height: 60px;
    text-indent: -999em;
    background: url(../img/bg_project-slider_nav.png) no-repeat;
}
.contentBottomWarp .prev{
	background-position: 0 0;
    left: 0px;
}
.contentBottomWarp .next{
	background-position: 0 -180px;
    right: 0px;
}
.contentBottom .contentMain{
	width: 900px;
	position: absolute;
	top: -10000px;
	left: -10000px;
	z-index: 1;
}
.contentMain ul{
	overflow: hidden;
	
}
.contentMain li{
	width: 179px;
    height: 166px;
    margin: 0 1px 1px 0;
	float: left;
}
.contentMain li a{
	width: 179px;
    height: 166px;
    display: block;
    position: relative;
    color: #000;
    text-decoration: none;
    background-color: white;
}
.details{
	position: absolute;
    top: 193px;
    z-index: 100;
    width: 100%;
    height: 467px;
    background: url(../img/bg_project_wrap.gif) repeat-x 0 0;
    display: none;
    z-index: 300;
}
.details .detailsContent{
	position: relative;
    width: 899px;
    height: 467px;
    margin: 0 auto;
}
.details .prev{
	position: absolute;
    top: 192px;
    left: 0;
    width: 70px;
    height: 60px;
    z-index: 10;
    display: block;
    text-indent: -999em;
    background: url(../img/bg_project-slider_nav_text.png) no-repeat -40px 0;
}
.details .next{
	position: absolute;
    top: 192px;
    right: 0;
    z-index: 10;
    width: 70px;
    height: 60px;
    display: block;
    text-indent: -999em;
    background: url(../img/bg_project-slider_nav_text.png) no-repeat 0 -180px;
}
.details .close{
	position: absolute;
    top: 8px;
    right: 6px;
    color: #9e9c9c;
    font-size: 14px;
    font-family: Times, serif;
    font-weight: normal;
    font-style: italic;
    background: url(../img/bg_project-slider_close.png) no-repeat 100% 2px;
    padding-right: 15px;
    height: 14px;
    width: 60px;
    text-align: right;
}
.detailsContentTop{
	width: 897px;
    height: 392px;
    padding: 25px 0 0 2px;
    overflow: hidden;
}
.detailsContentPic{
	width: 701px;
	overflow: hidden;
    position: absolute;
   
}
.detailsContentPic ul{
    height: 417px;
    width: 701px;
    overflow: hidden;
    position: relative;
    float: left;
}
.detailsContentTop .page{
	position: absolute;
    top: 10px;
    right:200px;
    width: 40px;
    z-index: 2000;
    text-align: right;
    color: #7f7f7f;
    font-family: Arial,sans-serif;
    font-size: 11px;
}
.detailsContentPic .page span{
	color: #fff;
}
.detailsContentPic ul li{
	width: 701px;
    height: 417px;
    position: absolute;
    top: 0;
    left: -9999px;
}
.detailsContentText{
	float: right;
    width: 178px;
    height: 417px;
}
.detailsContentText h2{
	height: 50px;
    padding: 30px 0 15px 0;
    color: #fff;
    font-size: 18px;
    font-family:  Arial ,sans-serif;
    font-weight: normal;
    font-style: normal;
    line-height: 22px;
}
.detailsContentText h3{
	height: 30px;
    margin-bottom: 16px;
    background: url(../img/bg_project-info_border.gif) no-repeat 0 100%;
    color: #fff;
    font-size: 14px;
    font-family: Times, serif;
    font-weight: normal;
    font-style: italic;
}
.detailsContentText p{
	width: 178px;
	color: #9e9c9c;
	padding-bottom: 12px;
    margin: 0;
}
.contentMainLi{
	width: 100%;
    height: 467px;
    display: none;
}
.contentMainSpan1{
	width: 179px;
    height: 83px;
    display: none;
    position: absolute;
    top: 68px;
    left: 0;
    font-size: 18px;
    font-family:  Arial ,sans-serif;
    font-weight: normal;
    text-align: center;
}
.contentMainSpan2{
	width: 179px;
    display: none;
    position: absolute;
    top: 94px;
    left: 0;
    font-size: 14px;
    font-family: Times, serif;
    font-weight: normal;
    font-style: italic;
    text-align: center;
}
/*design*/
.design{
	background: #040404 url(../img/design_bg.jpg) 50% 0 no-repeat fixed;
    color: #666;
}
.design .sprite{
	background: url(../img/design_sprite_frei.png) 50% 435px no-repeat fixed;
}
.design .screen{
	background: url(../img/design_frei.png) 50% 28px no-repeat;
}
.design .content{
	margin-top: 14%;
    margin-left: 68%;
    color: #fff;
    width: 280px;
}
.design .content h1{
	background: url(../img/bg_content_border.png) no-repeat  -300px 0;
    padding-top: 35px;
}
.design .designPtext{
    color: #c5b8ad;
}
/*technik*/
.technik{
	background: #fff url(../img/technik_bg.jpg) 50% 0 no-repeat fixed;
    color: #333;
}
.technik .sprite{
	background: url(../img/technik_sprite_frei.png) 50% 172px no-repeat fixed;
}
.technik .screen{
	background: url(../img/technik_frei.png) 50% 50% no-repeat;
}
.technik .content{
	margin-top: 6%;
    margin-left: 20%;
    color: #333;
    background: url(../img/technik_content.png) 100% 0px no-repeat;
    width: 330px;
    padding-top: 100px;
}
.technik .content h1{
	background: url(../img/bg_content_border.png) no-repeat -600px 0;
    width: 275px;
    padding-top: 35px;
}
.technik .designPtext{
    color: #727c83;
    width: 235px;
}
/*lab*/
.lab{
	background: #a8a2a0 url(../img/lab_bg.jpg) 50% 0 no-repeat fixed;
    color: #666;
}
.lab .sprite{
	background: url(../img/lab_sprite_frei.png) 50% 211px no-repeat fixed;
}
.lab .screen{
	background: url(../img/lab_frei.png) 50% 15px no-repeat;
}
.lab .content{
	margin-top: 14%;
    margin-left: 68%;
    color: #fff;
    width: 280px;
}
.lab .content h1{
	background: url(../img/bg_content_border.png) no-repeat -900px 0;
    padding-top: 35px;
}
.lab .designPtext{
    color: #fbff2e;
}
/*about*/
.about{
	background: #020202 url(../img/about_bg.jpg) 50% 0 no-repeat fixed;
    color: #666;
}
.about .sprite{
	background: url(../img/about_sprite_frei.png) 50% 244px no-repeat fixed;
}
.about .screen{
	background: url(../img/about_frei.png) 50% 175px no-repeat;
}
.about .content{
	margin-top: 14%;
    margin-left: 20%;
    color: #fff;
    width: 280px;
}
.about .content h1{
	background: url(../img/bg_content_border.png) no-repeat -1200px 0;
    padding-top: 35px;
}
.about .designPtext{
    color: #6f6e6e;
}
/*jobs*/
.jobs{
	background: #f1f1f1 url(../img/jobs_bg.jpg) 50% 0 no-repeat fixed;
    color: #333;
    height: 1200px;
}
.jobs .content{
	margin-top: 14%;
    margin-left: 20%;
    color: #333;
}
.jobs .content h1{
	background: url(../img/bg_content_border.png) no-repeat -1500px 0;
    padding-top: 35px;
}
.jobs .designPtext{
    color: #666;
}
.jobs .jobsLeft{
	position: absolute;
    top: 0;
    left: 50%;
    margin: 190px 0 0 -85px;
    width: 590px;
}
.jobs .jobsLeftItem{
	height: 14px;
    line-height: 14px;
    border-top: 1px solid #b1b1b1;
    cursor: pointer;
    padding: 7px 15px;
    font: 14px Times, serif;
    font-style: italic;
    background: url(../img/bg_trigger_status.png) no-repeat 560px 10px;
}
.jobs .jobsLeftItemShow{
	padding: 1px 15px 12px;
	display: none;
}
.jobs .active {
    background-position: 560px -41px;
}
.jobsLeftItem span{
	width: 105px;
    display: block;
    float: left;
}
.jobsLeftItem strong{
	font: 12px Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
}
.jobsLeftItem em{
	font: 12px Arial, sans-serif;
    font-style: normal;
    color: #b5b5b5;
}
.jobsLeftItemShow p{
	margin-top: 11px;
}

/*公司简介*/
#ImpressumWarp{
	width: 500px;
    height: 500px;
    position: fixed;
    top: 100px;
    left: 50%;
    z-index: 500;
    margin-left: -270px;
    padding: 25px 5px 20px 20px;
    background: #fff;
    display: none;
}
#ImpressumWarp span{
	position: absolute;
    top: 8px;
    right: 6px;
    color: #9e9c9c;
    font-size: 14px;
    font-family: Times, serif;
    font-weight: normal;
    font-style: italic;
    background: url(../img/bg_project-slider_close.png) no-repeat 100% -48px;
    padding-right: 15px;
    height: 14px;
    width: 60px;
    text-align: right;
    cursor: pointer;
}
#ImpressumContent{
	height: 500px;
    overflow-y: scroll;
    padding-right: 5px;

}
#ImpressumContent h1 {
    font-size: 24px;
}
#ImpressumContent h1, #ImpressumContent h3 {
    font-family: Arial ,sans-serif;
    font-weight: normal;
}



























































